#gauche { 
    float: left;
    left:5px; 
    width: 50%; 
    height:100%; 
    }
    
#droit { 
    position:absolute;
    margin-left: 5px;
    width: 50%;
    height:100%; 
    text-align:left;
    }