@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --black: #202020;
    --black-medium: #333333;
    --black-light: #3F3F3F;
    --grey: #707070;
    --red: #FF5154;
}

body {
    background: var(--black-light) !important;
    margin: 0;
}

h1 {
    color: var(--grey);
    font-family: "Helvetica";
    font-size: 30px;
    text-align: center;
}

h2 {
    color: var(--grey);
    font-family: "Helvetica";
    font-size: 25px;
    text-align: center;
}

p {
    color: var(--grey);
    font-family: "Helvetica";
    font-size: 13px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav {
    background-color: var(--black-medium);
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: white;
    font-family: "Poiret One";
    font-weight: bold;
    text-align: center;
    padding: 16px 10px;
    margin: 0px 10px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav a:hover {
    color: var(--red);
}

.nav a.active {
    color: var(--red);
    border-bottom: 3px solid var(--red);
}

#map {
    width: 800px;
    height: 800px;
    margin: 10px 0px;
}

#title {
    color: var(--red);
    font-size: 25px;
    padding: 10px;
}

#border {
    float: left;
    height: 25px;
    margin: 13px 10px;
    border-left: 1px solid rgba(112, 112, 112, 0.5);
}
