@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --black: #202020;
    --black-medium: #696969;
    --white: #e0e0e0;
    --grey: #707070;
    --red: #f14b4d;
}

body {
    background: var(--white) !important;
    margin: 0;
}

h1 {
    color: var(--grey);
    font-family: "Poiret One" !important;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: var(--grey);
    font-family: "Helvetica" !important;
    font-size: 25px;
    text-align: center;
}

p {
    color: var(--grey);
    font-family: "Helvetica" !important;
    font-size: 13px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav {
    background-color: var(--red);
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: var(--white);
    font-family: "Poiret One";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 16px 10px;
    margin: 0px 10px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav a:hover {
    color: white;
}

.nav a.active {
    color: white;
    border-bottom: 3px solid white;
}

#map {
    width: 800px;
    height: 800px;
    margin: 10px 0px;
    border: 2px solid grey;
}

#title {
    color: white;
    font-size: 25px;
}

#border {
    float: left;
    height: 25px;
    margin: 13px 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

#left {
    width: 45%;
}

#right {
    width: 45%;
}

#pie {
    width: 400px;
}

#form {
    width: 50%;
    border:1px solid;
    border-color: gray;
    padding:5px
}