{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Map - COVDM</title>
    <link rel="icon" type="image/png" href="{% static 'icon.png' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
    <script type="text/javascript" src="{% static 'france.js' %}"></script>
    <script type="text/javascript" src="{%static 'out.js' %}"></script>
</head>

<body>
    {% include 'index/navbar.html' with map="active" only %}
    <h1>Centres de vaccination</h1>
    <div class="content">
        <div id="map"></div>
        <div id="pie">
            <canvas id="chart"></canvas>
            <div id="form-btn"><button onclick="toForm()">Prendre rendez-vous</button></div>
        </div>
        
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{% static 'scripts.js' %}"></script>

</html>