{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Map - COVDM</title>
    <link rel="icon" type="image/png" href="{% static 'icon.png' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<body>
    {% include 'index/navbar.html' with map="active" only %}
</body>

<script type="text/javascript" src="{% static 'scripts.js' %}"></script>

</html>