{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Stats - COVDM</title>

    <link rel="stylesheet" type="text/css" href="{% static 'stats.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'icon.png' %}" />
</head>

<body>
    {% include 'index/navbar.html' with stats="active" only %}
    <h1>Statistiques Nationales</h1>
    <div class="content">

        <div id="left">
            <canvas id='myChart'></canvas>
        </div>

        <div id="right">
            <canvas id='myChart1'></canvas>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'script_stats.js' %}"></script>

</html>