{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>COVDM - Stats</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icon2.png' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="covdm/docs/script_stats.js"></script>
</head>

<body>
    <ul>
        <li><a id="title" href="home">COVDM</a></li>
        <li>
            <div id="border"></div>
        </li>
        <li><a href="home">Home</a></li>
        <li><a href="map">Map</a></li>
        <li><a class="active" href="stats">Stats</a></li>
        <li><a href="about">About</a></li>
    </ul>


</body>

</html>